<!DOCTYPE html>
<html>
  <head>
    <title>MusicSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="main-content">
  <h1 class="main-logo "> Music App  </h1>
  <nav>
  <%if !current_user.nil?%>
  <p class="user-detail">
   <p> Welcome <%= current_user.email%>  </p>
      <form action='<%= session_url %>' method="post">
       <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden" value="delete" name="_method">
          <input type="submit" value="Logout" class="button"/>
    </form>
   </p>

  
</nav>
  <% end %>
    <%= yield %>
    </div>

  </body>
</html>
