<h2 class="page-header"><%= @band.name%></h2>

<ul class="main-list">
<% @band.albums.each do |item| %>
  <li><a href="<%= album_path(item)%>"><p><%= item.title%></p></a></li>
<% end %>
</ul>


<ul class="page-links">

<li><a href="<%= new_band_album_path(@band)%>" class='button'><p>New Album</p></a></li>
<li><a href="<%= edit_band_path(@band)%>"  class='button'><p>Edit Band</p></a></li>
<li><a href=<%="/bands/#{@band.id}"%> method="Delete"  class='button'><p>destroy Band</p></a></li>
<li><a href="<%=bands_path%>"  class='button'><p>All Bands</p></a></li>
</ul>