<% action_method= comment.persisted? ? "PUT": "POST"%>
<% action_url= comment.persisted? ? comment_path(comment): comments_path%>

<form  method="POST" action="<%=action_url%>">

<input type="hidden" name="_method" value="<%= action_method%>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

<input type="hidden" name="comment[post_id]" value="<%= post.id%>">
<input type="hidden" name="comment[parent_comment_id]" value="<%= comment.parent_comment_id%>">

<p>
<label> Comment </label>
<textarea name="comment[content]" ><%= comment.content %></textarea>
</p>
<input type="submit" value="Comment">
</form>