<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if logged_in? %>
    <header>
      <nav>
          <ul>
          <li class='logo'><h3>RedditClone</h3></li>
          <li> <h4> Welcome <%= current_user.username %> </h4></li>
          <li><a href="/sessions/logout">Logout </a></li>
          </ul>
      </nav>
    </header>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
