<h1><%= @cat.name%> </h1>

<table>

<tr>  
    <th>Attribute</th>
    <th>Value</th>

  <% [:sex, :age, :birth_date, :color].each do |attr|%> 
  <tr>
     <td><%=attr %></td>
    <td><%= @cat.send(attr) %></td>
    </tr>
  <% end  %>

 
</tr>


</table>
<h5> Rent Request </h5>
  <% @rents.each do |rent|%>
   <label >From <%= rent.start_date%> To <%= rent.end_date%> </label> 
   <br/>
  <%end%>